/* 
MEDIA QUERIES
Desktop 1440px
Tablet 768px
Mobile 375px
*/

/* ========== VARIABLES ========== */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");

:root {
  --primary-color: #4d96a9;
  --secondary-color: #855fb1;
  --title-color: #28283d;
  --copy-color: #87879d;
  --btn-primary-hover: #71c0d4;
  --btn-secondary-hover: #b18bdd;
  --btn-primary-span: #8fe3f9;
  --btn-secondary-span: #d9b8ff;
}

/* ========== BASE ========== */

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
}

body {
  font-size: 1.6rem;

  /* padding: 2.4rem; */
}

/* ========== FONTS ========== */
/* FONT SIZE & BASE PROPERTIES */

h1 {
  font-size: 4rem;
  line-height: 4.4rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}

h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  color: var(--primary-color);
}

h1,
h2 {
  color: var(--title-color);
}

h1,
h2,
h3 {
  font-weight: 900;
}

p {
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--copy-color);
}

a {
  text-decoration: none;
}

/* ========== HEADER & SECTIONS ========== */

header {
  padding: 8rem 0 6.1rem 0;
}

.hero,
.section-2 {
  padding: 0 2.4rem;
}

.content {
  max-width: 54rem;
  margin: 0 auto;
}

/* ========== HERO ========== */

.hero .main-title {
  margin-bottom: 3.4rem;
}

.hero .copy {
  margin-bottom: 3.2rem;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero-content {
  margin-bottom: 11.7rem;
}

.hero-content:before,
.hero-content:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

/* ========== SECTION 2 ========== */

.section-2 {
  background: linear-gradient(
      rgba(77, 150, 168, 0.75),
      rgba(77, 150, 168, 0.75)
    ),
    url(/assets/desktop/image-footer.jpg) no-repeat center / cover;
  padding: 9.2rem 0 6.8rem 0;
  margin-top: -9rem;
}

.section-2 h2,
p {
  margin: 0 auto;
}

.section-2 h2 {
  color: #fff;
  margin-bottom: 3.2rem;
  max-width: 32.7rem;
}

.section-2 p {
  color: #fff;
  max-width: 32.7rem;
  margin-bottom: 5.6rem;
}

/* ========== TIMELINE BAR ========== */

.timeline {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bar {
  content: "";
  display: block;
  background-color: rgba(135, 135, 157, 0.25);
  height: 8.4rem;
  width: 0.1rem;
}

.num {
  background-color: #ffffff;
  border: 1px solid rgba(135, 135, 157, 0.25);
  padding: 1.5rem 1.9rem;
  margin-bottom: 6.4rem;
  border-radius: 2.9rem;
  color: var(--primary-color);
}

.num-2 {
  padding: 1.5rem 1.7rem;
}

/* ========== IMAGES ========== */

.imgs {
  display: grid;
  max-width: 32.7rem;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2.5rem;
  column-gap: 2.4rem;
  margin: 0 auto 6.4rem auto;
}

.img {
  border-radius: 0.8rem;
  width: 15.1rem;
  height: 14.3rem;
}

/* ========== BUTTONS ========== */

.hero-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 1.6rem 2.9rem;
  border-radius: 2.9rem;
}

.btn-span-1 {
  color: var(--btn-primary-span);
  margin-left: 0.2rem;
}

.btn-span-2 {
  color: var(--btn-secondary-span);
  margin-left: 0.2rem;
}

/* DEFAULT STATE */

.btn-primary {
  background: var(--primary-color);
  color: #ffffff;
}

.btn-secondary {
  background: var(--secondary-color);
  color: #ffffff;
}

/* HOVERED STATE */

.btn-primary:hover {
  background: var(--btn-primary-hover);
  color: #ffffff;
}

.btn-secondary:hover {
  background: var(--btn-secondary-hover);
  color: #ffffff;
}

/* BUTTON MARGIN */

.btn-primary {
  margin-bottom: 16px;
}

.btn-secondary {
  margin-bottom: 6.4rem;
}

/* ========== TABLET ========== */
/* SCREEN WIDTH OF 768px TO 1440px */

@media (min-width: 768px) {
  /* FONT MEDIA QUERIES */
  h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  h2 {
    font-size: 4rem;
    line-height: 4.4rem;
  }

  /* HERO IMAGES LEFT AND RIGHT */

  /* BUTTON MEDIA QUERIES */
  .hero-links {
    flex-direction: row;
    justify-content: center;
  }

  .btn-primary {
    margin: 0 1.6rem 0 0;
  }

  .btn-secondary {
    margin: 0;
  }

  /* IMAGES MEDIA QUERIES */
  .imgs {
    max-width: 68.9rem;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: none;
    margin: 0 auto 8rem auto;
    column-gap: 1.1rem;
  }

  .img {
    width: 16.4rem;
    height: 15.6rem;
  }

  .section-2 {
    background: linear-gradient(
        rgba(77, 150, 168, 0.75),
        rgba(77, 150, 168, 0.75)
      ),
      url(assets/tablet/image-footer.jpg) top / cover no-repeat;
  }

  .section-2 h2 {
    color: #fff;
    max-width: 45.7rem;
  }

  .section-2 p {
    color: #fff;
    max-width: 57.3rem;
  }
}

/* ========== DESKTOP ========== */
/* SCREEN WIDTH OF 1440px AND BIGGER */

@media (min-width: 1440px) {
  /* FONT MEDIA QUERIES */
  h1 {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }

  p {
    font-size: 1.8rem;
  }

  /* HERO IMAGES LEFT AND RIGHT */

  .hero {
    position: relative;
    overflow: hidden;
  }

  .hero-content:before {
    background: url(assets/desktop/image-hero-left.png) no-repeat;
    transform: translateX(-6%);
    max-width: 41.4rem;
    left: 0;
    top: 0;
  }

  .hero-content:after {
    background: url(assets/desktop/image-hero-right.png) no-repeat;
    transform: translateX(10%);
    max-width: 41.4rem;
    right: 0;
    top: 0;
  }

  /* IMAGES MEDIA QUERIES */

  .imgs {
    max-width: 111rem;
    grid-template-columns: repeat(4, auto);
    column-gap: 3rem;
  }

  .img {
    width: 25.5rem;
    height: 24.2rem;
  }

  /* SECTION MEDIA QUERIES */
  /* SECTION 2 BACKGROUND IMAGE */

  .section-2 {
    background: linear-gradient(
        rgba(77, 150, 168, 0.75),
        rgba(77, 150, 168, 0.75)
      ),
      url(assets/desktop/image-footer.jpg) top / cover no-repeat;
    padding: 16rem 0 10.4rem 0;
  }

  /* SECTION 2 CONTENT  */
  .section-2 div {
    max-width: 111rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
  }

  .section-2 h2 {
    color: #fff;
    width: 35rem;
    margin-right: 12.5rem;
    padding: 0;
    text-align: left;
  }

  .section-2 p {
    width: 35rem;
    color: #fff;
    margin-right: 9.2rem;
    padding: 0;
    text-align: left;
  }

  .section-2 a {
    width: 19.3rem;
  }
}
